body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: justify; 
}

::selection {
    background-color: #ffaf1a;
}

p {
    color: white;
}
p::first-letter {
    font-size: 30px; 
    font-weight: 700;
}

#section-one {
    background-image: url(img/strawberry-smoothie-table-top.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 800px;
}

.h2 {
    font-weight: 800;
    font-size: 32px;
    color: white;
}

.text-muted {
    color: white !important;
}

.navbar {
    font-weight: 700;
}

.navbar-toggler-icon {
    background-image: url(img/icons8-expand-arrow-64\ \(1\).png)
}

.navbar a {
    color: white;
    font-size: 17px;
}

.navbar a:hover {
    color: whitesmoke;
}

#fresh-life .btn-primary {
    background-color: #ffaf1a; 
    border-color: #ffaf1a;
    border-radius: 8px;
}

#fresh-life .btn-primary:hover {
    background-color: #ffb833;
    border-color: #ffb833;
}

#fresh-life {
    float: left;
    width: 400px;
    position: relative;
    top: 30%;
    left: 15%;
}

#section-two {
    background-color: #01b9b9;
    width: 100%;
    height: 500px;
}

#about-us {
    width: 500px;
    position: relative;
    float: right;
    top: 40%;
    right: 5%;
}

#section-two img {
    position: relative;
    left: 10%;
    top: 20%;
}

.row {
    margin: 0;
}

#section-three {
    background-color: #70C0FF;
    width: 100%;
    height: 530px; 
}

#section-three img {
    float: right;
    position: relative;
    top: 20%;
    right: 30%;
}

#section-three-buttons {
    float: left;
    position: relative;
    top: 20%;
    left: 15%;
    border-radius: 8px;
}

#section-three-buttons ul {
    list-style-type: none;
}

#section-three-buttons ul li button {
    margin-top: 50px;
    height: 70px;
    font-size: 21px;
    font-weight: 700;
    width: 400px;
}

.fontello {
    font-size: 30px;
    margin-left: 2px;
}

#section-four {
    background-color: #FEE92E;
    width: 100%;
    height: 100%;
}

#gallery {
    text-align: center;
    padding-top: 10px; 
    font-size: 40px; 
}
#section-four-gallery {
    width: 90%;
    margin: auto; 
    padding-top: 20px;
}

#section-four-gallery img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out
}

#section-four-gallery img:hover {
    -webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#section-four p {
    font-size: 16px; 
    text-align: justify;
    margin: auto; 
    width: 500px; 
}

#section-four p::first-letter {
    font-size: 16px; 
    font-weight: 400;
}

#section-four button {
    margin-bottom: 15px;
    border-radius: 8px;
}
@media (max-width: 768px) {
    #fresh-life {
        width: 300px;
    } 
    
    #section-two img {
        width: 250px;
    } 

    #section-two {
        height: 100%;
    }

    #about-us
    {
       position: relative;
       left: 10px;
    }

    #services img {
        width: 250px;
        right: 10%;
        top: unset;
    } 

    #section-three {
        height: 100%;
    }

    #section-three-buttons
    {
       position: relative;
       left: 10px;
    }

    #section-three-buttons ul li button {
        width: 290px;
        font-size: 18px;
    }
}

@media (min-width: 768px){
    #about-us {
        margin-top: 60px;
    }
}
